.experiences_section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10rem;
  /* margin: 4rem 0; */
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.experience__content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  /* flex: wrap; */
  /* flex-wrap: wrap; */
}
.experience__title {
  margin: 2rem 0;
}
.education_exprience,
.work__experience {
  align-self: center;
  flex-grow: 1 300px;
}
.experience__card {
  width: 20rem;
  height: 20rem;
  /* margin: 1rem 0; */
  /* padding: 1rem 0; */
  margin: 2rem 0;
}
.experience__card_work {
  height: 20rem;
}

.school__name {
  font-size: 1rem;
  font-weight: 700;
  line-height: 30px;
  margin: 1rem 0;
}
.company {
  font-size: 2rem;
  font-weight: 700;
  line-height: 30px;
  margin: 1rem 0;
}
.work_duration {
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 30px;
}
.work {
  padding: 0.5rem 0;
}
@media (min-width: 425px) {
  .experiences_section {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .experience__card {
    width: 30rem;
    height: 20rem;
  }
  .school__name {
    font-size: 1.5rem;
  }
  .degree {
    font-size: 1.4rem;
    font-weight: 300;
    align-items: justify;
  }
  .work {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .experience__content {
    flex-direction: row;
    gap: 10rem;
  }
  .experience__card {
    width: 30rem;
    height: 20rem;
  }
  .school__name {
    font-size: 1.5rem;
  }
  .degree {
    font-size: 1.4rem;
    font-weight: 300;
    align-items: justify;
  }
  .work {
    font-size: 1.2rem;
  }
}
